body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 50);
}

.cake {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    background-color: #f7d48a;
   /* border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%; */ 
    animation: rotate 5s linear infinite;
}

.candle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 6px;
    height: 60px;
    margin-left: -3px;
    background-color: #ffac33;
    border-radius: 5px;
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

@keyframes rotate {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
}

h1 {
    color: #ff6f61;
    font-size: 36px;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
}
